@CHARSET "UTF-8";

.btn-normal {
	display: inline-block;
	border: 1px solid #8ba0bd;
	border-bottom: 1px solid #657c9c;
	padding: 4px 8px 4px 8px;
	margin: 0.2em; 
	color: black;
	text-decoration: none;
	font:normal;
	font-size: 1em;
	text-align: center;
	vertical-align: middle;
	background: #bcd5f0 url(images/buttonEnabled.png) repeat-x top left;
	font-family: "宋体";
}


.btn-normal:HOVER {
	color: #243C5F;
	background: #acc5e2 url(images/buttonHover.png) repeat-x top left;
}

.panel {
	border: 1px solid #bfbfbf;
	overflow: auto;
	height: 100%;
}

.panel .title {
	border: 1px solid #8ba0bd;
	border-bottom: 1px solid #657c9c;
	background: #bcd5f0 url(images/buttonEnabled.png) repeat-x top left;
	font-size: 1em;
	padding: 0.4em;
	color: #243C5F;
	font-weight: bold;
}

.checkbox {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	margin: 0.4em 0 0.4em 0.4em
}

.input-text {
	width: 14em;
	height: 1.5em;
	line-height: 1.5em;
	border: 1px solid #8ba0bd;
	margin: 0.2em;
	color: black;
	outline: none;
	padding: 0 0 0 0.2em;
}

input.error{
	border: 1px solid red;
	background-color: #FFE7E7;
}

span.error{
	border: 0;
	color : red;
	background-color: #FFE7E7;
}


.select {
	width: 14em;
	height: 2em;
	line-height : 2em;
	border: 1px solid #8ba0bd;
	margin: 0.2em;
}


.table{
	border: 1px dotted #D5CDB5;
}

.table tr{
	height: 25px;
}

.table th, .table td {
	border: 1px dotted #D5CDB5;
	border-left:none;
	border-top:none;
	border-spacing:0;
	margin:0;
	padding:0px 5px 0px 5px;
	border-collapse: collapse;
	height: 100%;
}




.table th {
	background: #bcd5f0 url(images/buttonEnabled.png) repeat-x top left;
}

.formTable {
	border: 1px dotted #D5CDB5;
	width: 100%;
}


.formTable th {
	background: #bcd5f0 url(images/buttonEnabled.png) repeat-x top left;
}


.radioDiv{
	display: inline-block;
	width: 80px;
	margin: 5px;
}

.clickable{
	cursor: pointer;
}